body {
    background-color: yellow;
}
main {
    background-color: turquoise;
    display: inline-block;
    width: cal( ( 100% - 1400px ) / 2);
    float: left;

}

img {
    background-color: yellowgreen;
    display: inline-block;
    float: left;
    width: 40%;
    height: 400px;

}

div {
    background-color: whitesmoke;
    display: inline-block;
    float: left;
    width: 55%;

}

h1 {
    display: inline-block;
    float: left;

}

h2 {
    display: inline-block;
    float: left;

}

p {
    display: inline-block;
    float: left;

}

a {
    display: inline-block;
    float: left;

}