body {
    background-color: yellow;
}
main {
    background-color: turquoise;
    display: inline-block;
    width: 1000px;
    float: left;
    margin-top: 50px;
    margin-left: calc( ( 100% - 1000px ) / 2);

}

img {
    background-color: yellowgreen;
    
    float: left;
    width: 300px;
    height: 300px;
    margin-top: 120px;

}

div {
    background-color: whitesmoke;
    display: inline-block;
    float: left;
    width: 55%;
    margin-top: 100px ;

}

h1 {
    color: #10BCF0;
    display: inline-block;
    float: left;
    font-size: 70px;
    margin: 0;
    margin-left: 200px;

}

h2 {
    color: #333333;
    display: inline-block;
    float: left;
    font-size: 15px;
    margin: 0;
    margin-left: 180px;

}

p {
    color: #CFCFCF;
    display: inline-block;
    float: left;

}


a {
    background-color: #0C9448;
    display: inline-block;
    float: left;

}