body {
    background-color: yellow;
}
main {
    background-color: turquoise;
    display: inline-block;
    width: 900px;
    float: left;
    margin-top: 50px;
    margin-left: calc( ( 100% - 900px ) / 2);

}

img {
    background-color: yellowgreen;
    
    float: left;
    width: 250px;
    height: 250px;
    margin-top: 120px;
    margin-left: 10%;

}

div {
    background-color: whitesmoke;
    display: inline-block;
    float: left;
    width: 45%;
    margin-top: 110px ;

}

h1 {
    color: #10BCF0;
    display: inline-block;
    float: left;
    font-size: 70px;
    margin: 10px;
    margin-left: 100px;

}

h2 {
    color: #333333;
    display: inline-block;
    float: left;
    font-size: 15px;
    margin: 5;
    margin-left: 70px;

}

p {
    color: #CFCFCF;
    display: inline-block;
    float: left;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;

}




a {
    background-color: #0C9448;
    color: white;
    display: inline-block;
    float: left;
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 3px;
    margin-left: calc( (100% - 100px) / 2 );

}